* {
    margin: 0;
    padding: 0;
}

html {
    width: 1600px;
    height: 2925px;
}

.background {
    flex-shrink: 0;
    background: #F1E4E6;
}

.background1 {
    flex-shrink: 0;
    background: #F1E4E6;
    display: flex;
}

.texts_o {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(241, 109, 127, 1);
}

.laslas {
    position: absolute;
    width: 1141px;
    height: 601px;
    margin: -50px 100px 100px 300px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(234, 234, 234);
}

.laslas_womancoll {
    color: rgb(241, 109, 127);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    padding-bottom: 30px;
}

.Compellingly {
    color: rgb(94, 94, 94);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    padding-bottom: 30px;
}

.iiea {
    width: 373.02px;
    height: 17.14px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.sortttttt {
    color: rgb(111, 110, 110);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;

}

.addddddddddtoca {
    display: flex;
    border: 1px solid rgb(255, 106, 106);
    width: 211px;
    height: 47.4px;
    justify-content: space-around;
    align-items: center;
}

.lkjkjkjjnk {
    color: rgb(242, 99, 118);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.dollar {
    color: rgb(239, 91, 112);
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: left;
    padding-bottom: 30px;
}

.laslas_MOSCHINO_CHEAP_AND_CHic {
    color: rgb(77, 77, 77);
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-bottom: 30px;
}




.texts_i {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(99, 99, 99, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pooooopopop {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(241, 109, 127, 1);
}

.rectangle {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background: #F16D7F;
    display: flex;
    margin: 0px 16px 0px 63.42px;

}

.header {
    width: 1600px;
    height: 75px;
    flex-shrink: 0;
    background: #222;
    display: flex;
    align-items: center;
}

.buttons {
    width: 110.999px;
    height: 38px;
    flex-shrink: 0;
    padding: 18px 859px 19px 231px;
    gap: 41px;
    display: flex;
    align-items: flex-end;
}

.button {
    background: #222;
    border: #222;
    width: 44px;
    height: 38px;
    flex-shrink: 0;
}

.button2 {
    background: url(../Images/Ellipse\ 2.png);
    margin: 19px 32px 36px 0px;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.buts {
    width: 169px;
    height: 37px;
    flex-shrink: 0;
    display: flex;
    gap: 25px;
    margin-right: 0px;
    align-items: center;
}

.but1 {
    width: 32px;
    height: 23px;
    flex-shrink: 0;
    background: #222;
    border: none;
}

.but2 {
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    background: #222;
    border: none;
}

.but3 {
    width: 31.996px;
    height: 29px;
    flex-shrink: 0;
    background: #222;
    border: none;
}

.buttons1 {
    width: 26.002px;
    height: 26.792px;
    flex-shrink: 0;
    background: #222;
    border: #222;

}

.buttons2 {
    padding: 26px 0px 20px 0px;
    width: 158.996px;
    height: 29px;
    flex-shrink: 0;
    background: #222;
    display: flex;
    border: none;
    align-items: center;
}

.text0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.texts_1 {
    margin: 0px 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap
}

.filter {
    display: block;

}

.filter_filter {
    padding-right: 7px;
    color: rgb(0, 0, 0);
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
}

.filter::after {
    content: url(../Images/filterrrr.svg);
}

.fil3 {
    display: block;
}

.filter_filter3 {
    padding-right: 7px;
    color: rgb(111, 110, 110);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.fil3::after {
    content: url(../Images/TrendingNow.svg);
}

.filter3 {
    display: flex;
    gap: 20px;
}

.content_catalog {
    display: flex;
    gap: 600px;
    margin: 0px 40px 50px 40px;
}

.filter_details {
    &[open] {
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
    }

}

.details_label_sizes {
    &[open] {
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
    }

}

.details_label_sizes_span {
    position: absolute;

}

.label_sizes {
    padding-top: 3px;
    color: rgb(111, 110, 110);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 79px;
    position: absolute;
    background: rgb(255, 255, 255);
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.label_sizes_more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texts {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap
}

.kjkjk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 800px;
}

.text {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text1 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 3.7px;
}

.groups {
    width: 1140px;
    height: 470px;
    flex-shrink: 0;
    margin: 65px 230px 96px 230px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;
}

.rect {
    background: url(../Images/Rectangle\ 20.png);
    width: 360px;
    height: 260px;
    flex-shrink: 0;
    fill: rgba(33, 22, 22, 0.70);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.group39 {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
    background: url(../Images/Rectangle\ 30\ \(1\).png), lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.group38 {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
    background: url(../Images/Rectangle\ 30.png), lightgray 50% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.group37 {
    background: url(../Images/Layer\ 43.png), lightgray 0px -23px / 101.944% 143.077% no-repeat;
    width: 360px;
    height: 260px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.group36 {
    background: url(../Images/Rectangle\ 20\ \(1\).png), lightgray 50% / cover no-repeat;
    width: 1138.004px;
    height: 180px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.rectan {
    background: url(../Images/Rectangle\ 20.png);
    width: 1140px;
    height: 180px;
    flex-shrink: 0;
    fill: rgba(33, 22, 22, 0.70);
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.women {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.w1 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    display: flex;
    margin: 0px 230px 60px 230px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.pol {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.popo {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product {
    width: 360px;
    height: 587px;
    flex-shrink: 0;
    background: #F8F8F8;
}

.lastH {
    width: 148.9px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lastP {
    width: 314.743px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.lastS {
    width: 52.457px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lastSeen {
    display: flex;
    width: 360px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.img {
    background: url(../Images/Rectangle\ 15\ copy\ \(6\).png);
    width: 360px;
    display: flex;
    justify-content: center;
    height: 420px;
    flex-shrink: 0;
}

.y {
    background: url(../Images/Rectangle\ 15\ copy\ \(5\).png);
    width: 360px;
    height: 420px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.z {
    background: url(../Images/Rounded\ Rectangle\ 7.png);
    width: 139px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.i {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head {
    display: flex;
    margin: 0px 633px 48px 631px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.lastB {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: none;
    line-height: normal;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    background: url(../Images/Rectangle\ 5.png);
}

footer {
    width: 1600px;
    height: 341px;
    flex-shrink: 0;
}

.back {
    width: 1600px;
    height: 341px;
    flex-shrink: 0;
    background: #222224;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textmini {
    width: 360px;
    height: 134.004px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textmini1 {
    width: 360px;
    height: 133.003px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textmini2 {
    width: 360px;
    height: 134.004px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pp {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25.06px;
}

.ppp {
    width: 360px;
    height: 34px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 16.01px;
}

.boo {
    background: rgba(244, 244, 244, 0.70);
    width: 1598.001px;
    height: 448px;
    flex-shrink: 0;
    display: flex;
}

.boo1 {
    background: url(../Images/Layer\ 41.png), lightgray 0px -169px / 100% 246.875% no-repeat;
    width: 1600.001px;
    height: 448px;
    flex-shrink: 0;
}

.lala {
    width: 557px;
    height: 61px;
    flex-shrink: 0;
    padding-bottom: 32px;
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.girl {
    margin: 97px 223.26px 126px 228.29px;
    width: 359.449px;
    height: 225px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.etre {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding-right: 3px;
}

.qui {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verb {
    color: #222224;
    display: flex;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.venir {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 5px;
}

.subscribe {
    width: 557px;
    height: 142px;
    flex-shrink: 0;
    margin: 150px 230px 156px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.SUBSCRIBE {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.for {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.butrrr {
    width: 356px;
    height: 49px;
    flex-shrink: 0;
    display: flex;
}

.em {
    width: 256px;
    height: 49px;
    flex-shrink: 0;
    border: none;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
    text-align: start;
    background: url(../Images/Rounded\ Rectangle\ 5.svg);
}

.rrrr {
    background: url(../Images/Rounded\ Rectangle\ 5\ copy.png);
    width: 100px;
    height: 49px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div {
    width: 1600px;
    height: 79px;
    flex-shrink: 0;
    background: #222224;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.l {
    width: 332px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faceeee {
    display: flex;
    width: 147.664px;
    height: 32px;
    flex-shrink: 0;
    gap: 7.29px;
}

.face {
    background: url(../Images/Rectangle\ 14.png);
    width: 31.451px;
    height: 32px;
    flex-shrink: 0;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face1 {
    background: url(../Images/Rectangle\ 14\ \(1\).png);
    width: 31.451px;
    height: 32px;
    flex-shrink: 0;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook {
    width: 9.933px;
    height: 16px;
    flex-shrink: 0;
}

.instagram {
    width: 14.899px;
    height: 17px;
    flex-shrink: 0;
}

.pinterest {
    width: 11.919px;
    height: 16px;
    flex-shrink: 0;
}

.twitter {
    width: 15.892px;
    height: 16px;
    flex-shrink: 0;
}

.piu {
    display: flex;
    align-items: center;
}


@media(min-width: 768px) and (max-width: 1024px) {
    html {
        width: 768px;
        height: 2976px;
    }

    .header {
        width: 768px;
        height: 74px;
        display: flex;
    }

    .buttons {
        padding: 18px 424px 18px 32px;

    }

    .background {
        width: 769.572px;
        height: 367.567px;
    }

    .rectangle {
        margin: 0px 16px 0px 39px;
    }

    .texts {
        margin: 138.58px 33.57px 151.47px 0px;
        justify-content: flex-start;
    }

    .text {
        font-size: 44px;
    }

    .text1 {
        font-size: 24px;
    }

    .text2 {
        font-size: 24px;
    }

    .groups {
        width: 735.999px;
        height: 303.043px;
        flex-shrink: 0;
        margin: 64.95px 16px 109.92px 16px;
        gap: 19.38px
    }

    .group37 {
        width: 232.328px;
        height: 167.617px;
    }

    .rect {
        width: 231.973px;
        height: 167.617px;
    }

    .group38 {
        width: 232.328px;
        height: 167.617px;
    }

    .group39 {
        width: 232.328px;
        height: 167.617px;
    }

    .group36 {
        width: 734.581px;
        height: 116.043px;
    }

    .rectan {
        width: 734.581px;
        height: 116.043px;
    }

    .head {
        margin: 0px 216.33px 72.74px 215.67px;
    }

    .products {
        margin: 0px 16px 32.48px 16px;
        gap: 14px;
    }

    body {
        width: 768px;
        height: 2976px;
    }

    .back {
        width: 768px;
        height: 610px;
        flex-direction: column;
        justify-content: space-around;
    }

    .boo1 {
        width: 768px;
        height: 693px;
        background: url(../Images/Layer\ 41\ \(1\).png), lightgray -416.458px -261.422px / 322.249% 246.875% no-repeat;
    }

    .boo {
        width: 768px;
        height: 693px;
        flex-shrink: 0;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .girl {
        margin: 64px 204px 48px 204.55px;
    }

    .subscribe {
        height: 137px;
        margin: 0px 136px 140px 105px;
    }

    .div {
        width: 768px;
    }
}

@media(min-width:320px) and (max-width:767px) {
    html {
        width: 375px;
        height: 5367px;
    }

    .header {
        width: 375px;
        height: 74px;
        display: flex;
    }

    .buttons {
        padding: 18px 200px 18px 16px;
        width: 110.999px;
        height: 38px;
        flex-shrink: 0;
        gap: 41px;
    }

    .but1 {
        margin: 25px 16px 26px 0px;
        background: #222;
        border: none;
    }

    .buts {
        display: flex;
        align-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .background {
        flex-direction: row-reverse;
        width: 375px;
        height: 363px;
        flex-shrink: 0;
        justify-content: flex-end;
        align-items: center;
    }

    .texts {
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .text {
        font-size: 38px;
    }

    .text1 {
        font-size: 20px;
    }

    .text2 {
        font-size: 20px;
    }

    .rectangle {
        width: 12px;
        height: 61px;
        flex-shrink: 0;
    }

    .text0 {
        width: 263px;
        height: 66px;
    }

    .rect {
        width: 343px;
        height: 247px;
    }

    .groups {
        margin: 64px 16px 64px 16px;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        height: auto;
    }

    .group37 {
        width: 343px;
        height: 247px;
    }

    .group38 {
        width: 343px;
        height: 247px;
    }

    .group39 {
        width: 343px;
        height: 247px;
    }

    .rectan {
        width: 343.262px;
        height: 111px;
        flex-shrink: 0;
    }

    .group36 {
        width: 343.262px;
        height: 111px;
        flex-shrink: 0;
    }

    .head {
        margin: 0px 14px 64.7px 25px;
    }

    .products {
        margin: 0px 8px 40.61px 8px;
    }

    .lastB {
        margin: 0px 89px 85px 74px;
    }

    body {
        width: 375px;
        height: 5367px;
    }

    .back {
        width: 375px;
        height: 610px;
        flex-direction: column;
        justify-content: space-around;
    }

    .boo1 {
        background: url(../Images/Layer\ 41\ \(1\).png), lightgray -330.522px -207.478px / 322.249% 246.875% no-repeat;
        width: 375px;
        height: 550px;
    }

    .boo {
        width: 375px;
        height: 550px;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-direction: column;
    }

    .girl {
        margin: 64px 16px 59px 16px;
    }

    .verb {
        width: 343px;
        height: 73px;
    }

    .qui {
        font-size: 18px;
    }

    .for {
        font-size: 14px;
    }

    .venir {
        font-size: 18px;
    }

    .etre {
        font-size: 18px;
    }

    .subscribe {
        margin: 0px 18px 109.92px 16px;
    }

    .butrrr {
        width: 341px;
        height: 46.935px;
        justify-content: center;
    }

    .SUBSCRIBE {
        line-height: 153.2%;
    }

    .div {
        width: 375px;
        height: 143px;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }

    .ppppppp {
        width: 251px;
    }
}