* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  width: 1600px;
  height: 2925px;
}

.background {
  flex-shrink: 0;
  background: #F1E4E6;
}

.background1 {
  flex-shrink: 0;
  background: #F1E4E6;
  display: flex;
}

.texts_o {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: rgb(239, 91, 112);
}

.laslas {
  position: absolute;
  width: 1141px;
  height: 601px;
  margin: -50px 100px 100px 300px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(234, 234, 234);
}

.nav {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 75.2px;
  right: 0px;
  transition: right 0.3s;
}

#but1:checked~.nav {
  right: -232px;
}

#but1 {
  position: absolute;
  visibility: hidden;
}

.laslas_womancoll {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  padding-bottom: 30px;
}

.Compellingly {
  color: rgb(94, 94, 94);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  padding-bottom: 30px;
}

.iiea {
  width: 373.02px;
  height: 17.14px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.sortttttt {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.addddddddddtoca {
  display: flex;
  border: 1px solid rgb(239, 91, 112);
  width: 211px;
  height: 47.4px;
  justify-content: space-around;
  align-items: center;
}

.lkjkjkjjnk {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.dollar {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  padding-bottom: 30px;
}

.laslas_MOSCHINO_CHEAP_AND_CHic {
  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  padding-bottom: 30px;
}

.texts_i {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: rgb(99, 99, 99);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pooooopopop {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(239, 91, 112);
}

.rectangle {
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background: #F16D7F;
  display: flex;
  margin: 0px 16px 0px 63.42px;
}

.header {
  width: 1600px;
  height: 75px;
  flex-shrink: 0;
  background: #222;
  display: flex;
  align-items: center;
  position: relative;
}

.buttons {
  width: 110.999px;
  height: 38px;
  flex-shrink: 0;
  padding: 18px 859px 19px 231px;
  gap: 41px;
  display: flex;
  align-items: flex-end;
}

.button {
  background: #222;
  border: #222;
  width: 44px;
  height: 38px;
  flex-shrink: 0;
}

.button2 {
  background: url(../style/Images/Ellipse\ 2.png);
  margin: 19px 32px 36px 0px;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}

.buts {
  width: 169px;
  height: 37px;
  flex-shrink: 0;
  display: flex;
  gap: 25px;
  margin-right: 0px;
  align-items: center;
}

.but1 {
  width: 32px;
  height: 23px;
  flex-shrink: 0;
  background: #222;
  border: none;
}

.but2 {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  background: #222;
  border: none;
}

.but3 {
  width: 31.996px;
  height: 29px;
  flex-shrink: 0;
  background: #222;
  border: none;
}

.buttons1 {
  width: 26.002px;
  height: 26.792px;
  flex-shrink: 0;
  background: #222;
  border: #222;
}

.buttons2 {
  padding: 26px 0px 20px 0px;
  width: 158.996px;
  height: 29px;
  flex-shrink: 0;
  background: #222;
  display: flex;
  border: none;
  align-items: center;
}

.firstProuct {
  width: 652px;
  border: 1px solid rgb(234, 234, 234);
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  position: relative;
  margin-top: 96px;
  margin-left: 230px;
}

.krestic {
  position: absolute;
  right: 22px;
  top: 28px;
  border: none;
  background: none;
}

.shoppingcartbuttonCART {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  border: 1px solid rgb(164, 164, 164);
  background: none;
  width: 235px;
  height: 50px;
}

.shoppingcartbuttonCART:hover {
  color: white;
  border: none;
  background-color: rgb(239, 91, 112);
}

.totalAmount {
  color: rgb(74, 74, 74);
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  padding-left: 153px;
}

.ProceedTo {
  width: 273px;
  height: 50px;
  background-color: rgb(239, 91, 112);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  padding-left: 10px;
  border: none;
}

.REGISTRATIONFORMS {
  width: 360px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 230px;
  margin-top: 20px;
  margin-bottom: 33px;
}

.registrationsOnline {
  margin-top: 33px;
  margin-left: 230px;
  margin-bottom: 35px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  gap: 10px;
  text-align: left;
  display: flex;
}

.passwordknowledges {
  color: rgb(177, 177, 177);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 55px;
  margin-left: 230px;
  width: 359px;
}

.JOINNOW {
  background-color: rgb(239, 91, 112);
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  border: none;
  width: 167px;
  height: 50px;
  margin-left: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}

.JOINNOW:hover {
  background-color: none;
  color: rgb(0, 0, 0);
}

.JOINNOW:hover path {
  fill: rgb(0, 0, 0);
}

.BODY {
  display: flex;
  gap: 128px;
}

.Pluses {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 62px;
}

.GETINON {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  width: 652px;
  height: 58px;
}

.GeTTION1 {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  width: 652px;
  height: 58px;
}

.Gugo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.LOYALTYHAS {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
}

.Reg {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  padding-left: 230px;
}

.shoppingcartlflf {
  background: rgb(248, 243, 244);
  width: 1600px;
  height: 148px;
  display: flex;
  align-items: center;
}

.YOURNAME {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  margin-top: 64px;
  margin-left: 231px;
}

.GrandTotal {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  padding-left: 87px;
}

.ProceedTo:hover {
  background-color: none;
  color: rgb(0, 0, 0);
}

.checkmoney {
  width: 360px;
  background: rgb(245, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 214px;
  justify-content: space-evenly;
}

.SHOPPINGADRRES {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.shopingcartbuttons {
  display: flex;
  gap: 192px;
  margin-left: 226px;
  margin-top: 72px;
}

.Forms {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.formsInput {
  width: 360px;
  height: 45px;
  border: 1px solid rgb(164, 164, 164);
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding-left: 16px;
}

.shoping_cart_content {
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.shoping_cart {
  display: flex;
  gap: 128px;
}

.firstProductText {
  width: 262px;
  margin: 22px 97px 62px 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.firstProductTextMango {
  color: rgb(34, 34, 34);
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}

.firstProductTextPRICE {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(111, 110, 110);
}

.firstProductTextPRICECorrect {
  font-family: Lato;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgb(239, 91, 112);
  text-align: left;
}

.text0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.texts_1 {
  margin: 0px 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.filter {
  display: block;
}

.filter__filter {
  padding-right: 7px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
}

.fil3 {
  display: block;
}

.filter_filter3 {
  padding-right: 7px;
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.fil3::after {
  content: url(../style/Images/TrendingNow.svg);
}

.filter3 {
  display: flex;
  gap: 20px;
}

.content_catalog {
  display: flex;
  gap: 600px;
  margin: 0px 40px 50px;
  position: relative;
  align-items: center;
}

.filter__content {
  margin-top: 16px;
}

.filter__details {
  width: 360px;
  box-sizing: border-box;
  position: absolute;
  padding: 13px 16px 16px;
}

.filter__details[open] {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
}

.filter__details[open] .filter__filter {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.filter__details[open] path {
  fill: rgb(239, 91, 112);
}

.CATEGORY {
  margin-top: 16px;
  padding-left: 10px;
}

.CATEGORY__sum {
  display: block;
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.CATEGORY[open] .CATEGORY__sum {
  display: block;
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  border-bottom: 1px solid rgb(235, 235, 235);
  border-left: 5px solid rgb(239, 91, 112);
  padding: 8px 11px 11px 11px;
}

.llllllljklkj {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}

.CATEGORY__links-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 10px;
  padding-top: 16px;
}

.label_sizes {
  padding-top: 3px;
  color: rgb(111, 110, 110);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  width: 79px;
  position: absolute;
  background: rgb(255, 255, 255);
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
}

.label_sizes_more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.texts {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
  row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.kjkjk {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 800px;
}

.text {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text1 {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text2 {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 3.7px;
}

.groups {
  width: 1140px;
  height: 470px;
  flex-shrink: 0;
  margin: 65px 230px 96px 230px;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.rect {
  background: url(../style/Images/Rectangle\ 20.png);
  width: 360px;
  height: 260px;
  flex-shrink: 0;
  fill: rgba(33, 22, 22, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.group39 {
  width: 360px;
  height: 260px;
  flex-shrink: 0;
  background: url(../style/Images/Rectangle\ 30\ \(1\).png), lightgray 50%/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.group38 {
  width: 360px;
  height: 260px;
  flex-shrink: 0;
  background: url(../style/Images/Rectangle\ 30.png), lightgray 50%/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.group37 {
  background: url(../style/Images/Layer\ 43.png), lightgray 0px -23px/101.944% 143.077% no-repeat;
  width: 360px;
  height: 260px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.group36 {
  background: url(../style/Images/Rectangle\ 20\ \(1\).png), lightgray 50%/cover no-repeat;
  width: 1138.004px;
  height: 180px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.rectan {
  background: url(../style/Images/Rectangle\ 20.png);
  width: 1140px;
  height: 180px;
  flex-shrink: 0;
  fill: rgba(33, 22, 22, 0.7);
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.women {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.w1 {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products {
  display: flex;
  margin: 0px 230px 60px 230px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.pol {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popo {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product {
  width: 360px;
  height: 587px;
  flex-shrink: 0;
  background: #F8F8F8;
}

.lastH {
  width: 148.9px;
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lastP {
  width: 314.743px;
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.lastS {
  width: 52.457px;
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lastSeen {
  display: flex;
  width: 360px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.img {
  background: url(../style/Images/Rectangle\ 15\ copy\ \(6\).png);
  width: 360px;
  display: flex;
  justify-content: center;
  height: 420px;
  flex-shrink: 0;
}

.y {
  width: 360px;
  height: 420px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.y:hover {
  background: url(../style/Images/Rectangle\ 15\ copy\ \(5\).png);
}

.z {
  background: url(../style/Images/Rounded\ Rectangle\ 7.png);
  width: 139px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.i {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
}

.head {
  display: flex;
  margin: 0px 633px 48px 631px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.lastB {
  color: rgb(239, 91, 112);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: normal;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  background: url(../style/Images/Rectangle\ 5.png);
}

footer {
  width: 1600px;
  height: 341px;
  flex-shrink: 0;
}

.back {
  width: 1600px;
  height: 341px;
  flex-shrink: 0;
  background: #222224;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textmini {
  width: 360px;
  height: 134.004px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.textmini1 {
  width: 360px;
  height: 133.003px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.textmini2 {
  width: 360px;
  height: 134.004px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pp {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 25.06px;
}

.ppp {
  width: 360px;
  height: 34px;
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 16.01px;
}

.boo {
  background: rgba(244, 244, 244, 0.7);
  width: 1598.001px;
  height: 448px;
  flex-shrink: 0;
  display: flex;
}

.boo1 {
  background: url(../style/Images/Layer\ 41.png), lightgray 0px -169px/100% 246.875% no-repeat;
  width: 1600.001px;
  height: 448px;
  flex-shrink: 0;
}

.lala {
  width: 557px;
  height: 61px;
  flex-shrink: 0;
  padding-bottom: 32px;
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.girl {
  margin: 97px 223.26px 126px 228.29px;
  width: 359.449px;
  height: 225px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.etre {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-right: 3px;
}

.qui {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.verb {
  color: #222224;
  display: flex;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.venir {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 5px;
}

.subscribe {
  width: 557px;
  height: 142px;
  flex-shrink: 0;
  margin: 150px 230px 156px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SUBSCRIBE {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.for {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.butrrr {
  width: 356px;
  height: 49px;
  flex-shrink: 0;
  display: flex;
}

.em {
  width: 256px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  text-align: start;
  background: url(../style/Images/Rounded\ Rectangle\ 5.svg);
}

.rrrr {
  background: url(../style/Images/Rounded\ Rectangle\ 5\ copy.png);
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.div {
  width: 1600px;
  height: 79px;
  flex-shrink: 0;
  background: #222224;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.l {
  width: 332px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.faceeee {
  display: flex;
  width: 147.664px;
  height: 32px;
  flex-shrink: 0;
  gap: 7.29px;
}

.face {
  background: url(../style/Images/Rectangle\ 14.png);
  width: 31.451px;
  height: 32px;
  flex-shrink: 0;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face1 {
  background: url(../style/Images/Rectangle\ 14\ \(1\).png);
  width: 31.451px;
  height: 32px;
  flex-shrink: 0;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  width: 9.933px;
  height: 16px;
  flex-shrink: 0;
}

.instagram {
  width: 14.899px;
  height: 17px;
  flex-shrink: 0;
}

.pinterest {
  width: 11.919px;
  height: 16px;
  flex-shrink: 0;
}

.twitter {
  width: 15.892px;
  height: 16px;
  flex-shrink: 0;
}

.piu {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    width: 768px;
    height: 2976px;
  }

  .header {
    width: 768px;
    height: 74px;
    display: flex;
  }

  .buttons {
    padding: 18px 424px 18px 32px;
  }

  .background {
    width: 769.572px;
    height: 367.567px;
  }

  .rectangle {
    margin: 0px 16px 0px 39px;
  }

  .texts {
    margin: 138.58px 33.57px 151.47px 0px;
    justify-content: flex-start;
  }

  .text {
    font-size: 44px;
  }

  .text1 {
    font-size: 24px;
  }

  .text2 {
    font-size: 24px;
  }

  .groups {
    width: 735.999px;
    height: 303.043px;
    flex-shrink: 0;
    margin: 64.95px 16px 109.92px 16px;
    gap: 19.38px;
  }

  .group37 {
    width: 232.328px;
    height: 167.617px;
  }

  .rect {
    width: 231.973px;
    height: 167.617px;
  }

  .group38 {
    width: 232.328px;
    height: 167.617px;
  }

  .group39 {
    width: 232.328px;
    height: 167.617px;
  }

  .group36 {
    width: 734.581px;
    height: 116.043px;
  }

  .rectan {
    width: 734.581px;
    height: 116.043px;
  }

  .head {
    margin: 0px 216.33px 72.74px 215.67px;
  }

  .products {
    margin: 0px 16px 32.48px 16px;
    gap: 14px;
  }

  body {
    width: 768px;
    height: 2976px;
  }

  .back {
    width: 768px;
    height: 610px;
    flex-direction: column;
    justify-content: space-around;
  }

  .boo1 {
    width: 768px;
    height: 693px;
    background: url(../style/Images/Layer\ 41\ \(1\).png), lightgray -416.458px -261.422px/322.249% 246.875% no-repeat;
  }

  .boo {
    width: 768px;
    height: 693px;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .girl {
    margin: 64px 204px 48px 204.55px;
  }

  .subscribe {
    height: 137px;
    margin: 0px 136px 140px 105px;
  }

  .div {
    width: 768px;
  }

  .texts_1 {
    width: 768px;
    height: 148px;
    margin: 0px;
    justify-content: space-around;
  }

  .content_catalog {
    gap: 370px;
  }

  .laslas {
    position: unset;
    width: 768px;
    height: 601px;
    margin: 376px 0px 0px 0px;
  }

  .vd {
    width: 768px;
    height: 624px;
    padding-top: 55px;
  }

  .kjkjk {
    margin-left: 353px;
    gap: 16px;
    margin-top: 307px;
  }

  .firstProuct {
    margin-left: 16px;
    width: 734px;
    margin-right: 16px;
  }

  .shoping_cart {
    justify-content: center;
    flex-direction: column;
  }

  .shopingcartbuttons {
    margin-left: 93px;
    gap: 48px;
  }

  .Forms {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 128px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .formsDiv {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .formsInput {
    width: 300px;
  }

  .BODY {
    gap: 22px;
  }

  .REGISTRATIONFORMS {
    margin-left: 16px;
  }

  .registrationsOnline {
    margin-left: 16px;
  }

  .YOURNAME {
    margin-left: 16px;
  }

  .JOINNOW {
    margin-left: 16px;
  }

  .passwordknowledges {
    margin-left: 16px;
  }

  .GeTTION1 {
    font-size: 16px;
    width: 354px;
  }

  .GETINON {
    font-size: 16px;
    width: 354px;
  }

  .Gugo {
    gap: 22px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  html {
    width: 375px;
    height: 5367px;
  }

  .header {
    width: 375px;
    height: 74px;
    display: flex;
  }

  .buttons {
    padding: 18px 200px 18px 16px;
    width: 110.999px;
    height: 38px;
    flex-shrink: 0;
    gap: 41px;
  }

  .but1 {
    margin: 25px 16px 26px 0px;
    background: #222;
    border: none;
  }

  .buts {
    display: flex;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .background {
    flex-direction: row-reverse;
    width: 375px;
    height: 363px;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
  }

  .texts {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .text {
    font-size: 38px;
  }

  .text1 {
    font-size: 20px;
  }

  .text2 {
    font-size: 20px;
  }

  .rectangle {
    width: 12px;
    height: 61px;
    flex-shrink: 0;
  }

  .text0 {
    width: 263px;
    height: 66px;
  }

  .rect {
    width: 343px;
    height: 247px;
  }

  .groups {
    margin: 64px 16px 64px 16px;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: auto;
  }

  .group37 {
    width: 343px;
    height: 247px;
  }

  .group38 {
    width: 343px;
    height: 247px;
  }

  .group39 {
    width: 343px;
    height: 247px;
  }

  .rectan {
    width: 343.262px;
    height: 111px;
    flex-shrink: 0;
  }

  .group36 {
    width: 343.262px;
    height: 111px;
    flex-shrink: 0;
  }

  .head {
    margin: 0px 14px 64.7px 25px;
  }

  .products {
    margin: 0px 8px 40.61px 8px;
  }

  .lastB {
    margin: 0px 89px 85px 74px;
  }

  body {
    width: 375px;
    height: 5367px;
  }

  .back {
    width: 375px;
    height: 610px;
    flex-direction: column;
    justify-content: space-around;
  }

  .boo1 {
    background: url(../style/Images/Layer\ 41\ \(1\).png), lightgray -330.522px -207.478px/322.249% 246.875% no-repeat;
    width: 375px;
    height: 550px;
  }

  .boo {
    width: 375px;
    height: 550px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .girl {
    margin: 64px 16px 59px 16px;
  }

  .verb {
    width: 343px;
    height: 73px;
  }

  .qui {
    font-size: 18px;
  }

  .for {
    font-size: 14px;
  }

  .venir {
    font-size: 18px;
  }

  .etre {
    font-size: 18px;
  }

  .subscribe {
    margin: 0px 18px 109.92px 16px;
  }

  .butrrr {
    width: 341px;
    height: 46.935px;
    justify-content: center;
  }

  .SUBSCRIBE {
    line-height: 153.2%;
  }

  .div {
    width: 375px;
    height: 143px;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
  }

  .ppppppp {
    width: 251px;
  }

  .texts_1 {
    flex-direction: column;
    gap: 32px;
  }

  .texts_i {
    font-size: 14px;
  }

  .pooooopopop {
    font-size: 14px;
  }

  .filter__details {
    margin-left: -92px;
    padding: unset;
  }

  .hilhilh {
    width: 37.5px;
    height: 25px;
    margin-left: 20px;
  }

  .content_catalog {
    gap: 61.5px;
    align-items: flex-start;
  }

  .filter__content {
    margin-left: 70px;
  }

  .vd {
    content: url(../style/Images/lkiurs.svg);
  }

  .laslas {
    width: 375px;
    height: 600px;
    position: unset;
    margin: 264px 0px 0px;
  }

  .iiea {
    justify-content: space-evenly;
  }

  .kjkjk {
    margin-top: 64px;
  }

  .shoping_cart {
    flex-direction: column;
    gap: unset;
  }

  .firstProuct {
    margin-left: 5px;
    width: 358px;
    height: 188px;
    display: flex;
    justify-content: flex-start;
  }

  .firstProductText {
    width: 143.86px;
    position: absolute;
    margin: 13px 53px 37px 170px;
  }

  .firstProductTextMango {
    font-size: 16px;
  }

  .firstProductTextPRICE {
    font-size: 14px;
  }

  .firstProductTextPRICECorrect {
    font-size: 14px;
  }

  .ooooomaaan {
    height: 188px;
  }

  .shopingcartbuttons {
    gap: 10px;
    margin-left: 5px;
  }

  .Forms {
    margin-left: 5px;
  }

  .formsInput {
    width: 350px;
    padding-left: 10px;
  }

  .Reg {
    padding-left: unset;
    margin-left: 102px;
  }

  .BODY {
    flex-direction: column;
    gap: 40px;
  }

  .YOURNAME {
    margin-left: 5px;
  }

  .REGISTRATIONFORMS {
    margin-left: 5px;
  }

  .registrationsOnline {
    margin-left: 5px;
  }

  .passwordknowledges {
    margin-left: 5px;
  }

  .JOINNOW {
    margin-left: 5px;
  }

  .LOYALTYHAS {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .GETINON {
    font-size: 16px;
    width: 358px;
  }

  .GeTTION1 {
    padding-bottom: 10px;
    width: 355px;
  }
}