* {
    margin: 0;
    padding: 0;
}

html {
    width: 1921px;
    height: 1030px;
    flex-shrink: 0;
}

body {
    display: block;
    border-radius: 10px;

    background: var(--020-a-18, #020A18)
}

.header {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 1920px;
    height: 100px;
    flex-shrink: 0;
}


.header__nav_menu {
    margin: 39px 755px 39px 771.5px;
    display: flex;
    flex-flow: row-reverse;
    place-content: center flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    gap: 40px;
}

.nav_menu__items {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    margin: 39px 15px 39px 14px;
}

.conteiner {
    margin: 199px 387px 197px 388px;
    gap: 120px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

h1 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    width: 550px;
    padding: 10px 0px;
}

h4 {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.img {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
    margin: 0px 387px 355px 120px;
}

.text {
    margin: 40px 0px;
    padding: 10px 0px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.button {
    margin: 50px 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start
}

.but {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bit {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.vector {
    margin: -55px 290px 0px 0px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.photos {
    margin: 0px 0px 0px 290px;
    display: flex;
    align-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    margin: 0px 387px 243px 387px;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: space-around;
    align-items: start;
    justify-items: center;
    align-content: center;

}


h6 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: 302px;
}

.ddd {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 302px;
}

.cell {
    width: 362px;
    height: 389px;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 10px;
    background: #132035;
    justify-content: center;
    flex-direction: column;
}

.content4_big {
    grid-column: span 2;
    grid-row: span 2;
    width: 754px;
    height: 808px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #132035;
    gap: 30px;
}

.alala {
    width: 558px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.big {
    width: 694px;
}

.h6big {
    width: 694px;
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}

h3 {
    width: 484px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 30px;

}

.Apply {
    width: 460px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding-bottom: 65px;
    opacity: 0.7;
}

.apply_content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    margin: 157px 387px 264px 387px;
}

.just_content {
    width: 484px;
    height: 314px;
}

.button_about {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.group_eee {
    margin: 0px 386px 221px 388px;
    display: flex;
    width: 1146px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.text_end {
    width: 548px;
    height: 464px;
    flex-shrink: 0;
}

.end_p {
    width: 460px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    padding-bottom: 20px;
}

.end_h3 {
    width: 548px;
    padding-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.end_end {
    width: 1921px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05101d;
    backdrop-filter: blur(100px);
}

.frame418 {
    display: flex;
    width: 1146px;
    justify-content: center;
    align-items: flex-start;
    margin: 48px 387px 46.1px 388px;
}

.div_end {
    width: 362px;
    height: 155.889px;
    flex-shrink: 0;
    margin: 48px 170px 46.11px 391.82px;
}

.elden {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;
}

.div_end1 {
    margin: 48px 170px 46.11px 0px;
    width: 361.641px;
    height: 100px;
    flex-shrink: 0;
}

.sekiro {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.div_end2 {
    margin: 48px 387px 46.11px 0px;
    width: 362px;
    height: 109.25px;
    flex-shrink: 0;
}

.srcsr {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    opacity: 0.6;
    margin-top: 24px;
}


.talos {
    width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h5q {
    width: 209.042px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}

.h5e {
    width: 228.623px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}

.h5i {
    width: 228.851px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}

@media (min-width:849px) and (max-width:1439px) {
    .header {
        width: 768px;
    }

    .header__nav_menu {
        margin: 39px 234.5px 160px 235.5px;
        gap: 32px;
    }

    .conteiner {
        margin: 0px 40px 197px 42px;
        width: 767px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 128px
    }
}